
.display-one {
	font-size: 120px;
}

.display-two {
	font-size: 96px;
}

.display-three {
	font-size: 88px;
	line-height: 120%;
}

.display-four {
	font-size: 64px;
}

.display-five {
	font-size: 56px;
}

.display-six {
	font-size: 48px;
}
.pragraph{
	font-size: 18px;
	@include maxQuery(575){
		font-size: 16px;
	}
}

.fs-one,
h1,
h1 > a {
	font-size: 56px;
	line-height: 120%;
	font-weight: 800;
}

.fs-two,
h2,
h2 > a {
	font-size: 48px;
	line-height: 120%;
	font-weight: 700;
}

.fs-three,
h3,
h3 > a {
	font-size: 40px;
	line-height: 120%;
	font-weight: 700;
}

.fs-four,
h4,
h4 > a {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
}

.fs-five,
h5,
h5 > a {
	font-size: 24px;
	line-height: 150%;
	font-weight: 600;
}

.fs-six,
h6,
h6 > a {
	font-size: 18px;
	line-height: 150%;
	font-weight: 600;
}

.fs-seven {
	font-size: 16px;
	line-height: 150%;
}

.fs-eight {
	font-size: 14px;
	line-height: 150%;
}

.fs-nine {
	font-size: 12px !important;
	line-height: 150%;
}
.fs20{
	font-size: 20px;
	line-height: 1.4;
	@include maxQuery(1199){
		font-size: 16px !important;
		line-height: 1.4;
	}
	@include maxQuery(575){
		font-size: 16px !important;
		line-height: 1.4;
	}
}
.fs18{
	font-size: 18px;
	line-height: 1.5;
}	

table thead tr th {
	font-size: 18px;
	line-height: 150%;
}
a, 
p,
button,
span,
label,
li {
	font-size: 16px;
	line-height: 150%;
}

@media (max-width: 1399px) {
	.fs-one,
	h1,
	h1 > a {
		font-size: 48px;
	}

	.fs-two,
	h2,
	h2 > a {
		font-size: 40px;
	}

	.fs-three,
	h3,
	h3 > a {
		font-size: 32px;
	}

	.fs-four,
	h4,
	h4 > a {
		font-size: 28px;
		line-height: 120%;
		font-weight: 700;
	}
	.fs-five,
	h5,
	h5 > a {
		font-size: 22px;
		line-height: 150%;
		font-weight: 600;
	}

	.fs-six,
	h6,
	h6 > a {
		font-size: 17px;
		line-height: 150%;
		font-weight: 600;
	}
}

@media (max-width: 1199px) {
	.fs-one,
	h1,
	h1 > a {
		font-size: 40px;
	}

	.fs-two,
	h2,
	h2 > a {
		font-size: 34px;
	}

	.fs-three,
	h3,
	h3 > a {
		font-size: 29px;
	}

	.fs-four,
	h4,
	h4 > a {
		font-size: 26px;
		line-height: 120%;
		font-weight: 700;
	}
	.fs-five,
	h5,
	h5 > a {
		font-size: 20px;
		line-height: 150%;
		font-weight: 600;
	}

	.fs-six,
	h6,
	h6 > a {
		font-size: 16px;
		line-height: 150%;
		font-weight: 600;
	}
}
@media (max-width: 767px) {
	.fs-one,
	h1,
	h1 > a {
		font-size: 38px;
	}

	.fs-two,
	h2,
	h2 > a {
		font-size: 32px;
	}

	.fs-three,
	h3,
	h3 > a {
		font-size: 28px;
	}

	.fs-four,
	h4,
	h4 > a {
		font-size: 24px;
		line-height: 120%;
		font-weight: 700;
	}
	.fs-five,
	h5,
	h5 > a {
		font-size: 19px;
		line-height: 150%;
		font-weight: 600;
	}
}
@media (max-width: 400px) {
	.fs-one,
	h1,
	h1 > a {
		font-size: 34px !important;
	}

	.fs-two,
	h2,
	h2 > a {
		font-size: 31px;
	}

	.fs-three,
	h3,
	h3 > a {
		font-size: 27px;
	}
}
.pagination-more-item{
	@include box(40);
}

.pt-120 {
	padding-top: 120px;
}
.pb120{
	padding-bottom: 120px;
}

.pb-120 {
	padding-bottom: 120px;
}

@media (max-width: 1199px) {
	// Normalize
	.display-one {
		font-size: 72px;
		line-height: 86.4px;
	}
	
	.display-two {
		font-size: 64px;
		line-height: 76.8px;
	}
	
	.display-three {
		font-size: 56px;
		line-height: 67.2px;
	}
	
	.display-four {
		font-size: 48px;
		line-height: 46.4px;
	}
	
	.display-five {
		font-size: 42px;
		line-height: 54.6px;
	}
	
	.display-six {
		font-size: 32px;
		line-height: 38.4px;
	}
	
	.fs-one,
	h1,
	h1 > a {
		font-size: 40px;
		line-height: 48px;
	}
	
	.fs-two,
	h2,
	h2 > a {
		font-size: 32px;
		line-height: 38.4px;
	}
	
	.fs-three,
	h3,
	h3 > a {
		font-size: 24px;
		line-height: 31.2px;
	}
	
	.fs-four,
	h4,
	h4 > a {
		font-size: 20px;
		line-height: 26px;
	}
	
	.fs-five,
	h5,
	h5 > a {
		font-size: 18px;
		line-height: 20.8px;
	}
	
	.fs-six,
	h6,
	h6 > a {
		font-size: 16px;
		line-height: 18.8px;
	}
	
	.fs-seven {
		font-size: 14px;
		line-height: 18.8px;
	}
	
	.fs-eight {
		font-size: 12px;
		line-height: 18px;
	}
	
	table thead tr th {
		font-size: 15px;
		line-height: 20.8px;
	}
	
	a,
	p,
	span,
	button,
	label,
	li {
		font-size: 14px;
		line-height: 22px;
	}

	.pt-120 {
		padding-top: 60px;
	}
	.pb-120 {
		padding-bottom: 60px;
	}

	.banner-section .overlay .sec-img{
		display: none;
	}
}

@media (max-width: 575px) {
	.display-one {
		font-size: 56px;
		line-height: 67.2px;
	}
	
	.display-two {
		font-size: 48px;
		line-height: 46.4px;
	}
	
	.display-three {
		font-size: 42px;
		line-height: 54.6px;
	}
	
	.display-four {
		font-size: 32px;
		line-height: 38.4px;
	}
	
	.display-five {
		font-size: 24px;
		line-height: 31.2px;
	}
	
	.display-six {
		font-size: 32px;
		line-height: 38.4px;
	}

	.pt-120 {
		padding-top: 50px;
	}
	.pb-120 {
		padding-bottom: 50px;
	}
}

