//News
.news-item{
    .news-thumb{
        position: relative;
        overflow: hidden;
        img{
            transition: all 0.5s;
            transition: 0.5s;
            background-size: cover;
            width: 100%;
            border-radius: 8px;
            &:nth-child(2){
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                visibility: hidden;
                height: 100%;
                width: 0;
                transition: 1s;
                overflow: hidden;
            }
        }
    }
    &:hover{
        .news-thumb{
            img{
                transform: scale(1.1);
                &:nth-child(2){
                    width: 100% !important;
                    visibility: visible;
                    height: 100%;
                }
            }
        }
    }
}
