
.header-section {
    width: 100%;
    z-index: 100;
    &.light-version{
        @include minQuery(992) { 
            &.header-fixed{
                .main-navbar{
                    .custom-nav {
                        .menu-item {
                            a,
                            button {
                                color: var(--n700);
                            }
                        }
                    }
                    .navbar-toggle-item{
                        .navbar-brand{
                            img{
                                filter: brightness(1) !important;
                            }
                        }
                    }
                }
            } 
            .main-navbar{
                .custom-nav {
                    .menu-item {
                        a,
                        button {
                            color: var(--n0);
                        }
                        .sub-menu{
                            .menu-link{
                                a{
                                    color: var(--n700) !important;
                                    &:hover{
                                        color: var(--p300);
                                    }
                                }
                            }
                        }
                    }
                }
                .navbar-toggle-item{
                    .navbar-brand{
                        img{
                            filter: brightness(25) !important;
                        }
                    }
                }
            }    
        }
    }
    .container{
        max-width: 1700px;
        margin: 0 auto;
    }
    .nav-brand {
        max-width: 265px;
        @include maxQuery(991) {
            max-width: 150px;
        }
    }

    // Navbar Start
    .main-navbar {
        @include maxQuery(991) {
            .navbar-toggle-item {
                display: none;
            }
        }
        @include minQuery(992) {
            .navbar-toggle-item {
                display: initial !important;
            }
        }
        .custom-nav {
            .menu-item {
                button {
                    &::after {
                        position: absolute;
                        content: "\f078";
                        font-family: "FontAwesome";
                        font-weight: 500;
                        font-size: 14px;
                        right: 0px;
                        z-index: -1;
                        transition: all 1s ease;
                    }
                }
                .sub-menu{
                    .menu-link{
                        a{
                            color: var(--n900);
                            &:hover{
                                color: var(--p300);
                            }
                        }
                    }
                }
            }
            .menu-item,
            .menu-link {
                color: var(--n900);
                button, a {
                    transition: all 0.5s;
                    font-size: 18px;
                    @include maxQuery(991){
                        font-size: 16px !important;
                        font-weight: 400 !important;
                    }
                    @include maxQuery(575) {
                        font-size: 14px;
                    }
                    &:hover, &.active{
                        color: var(--p300);
                    }
                }
            }
            @include maxQuery(991) {
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                padding: 26px;
                height: 44vh !important;
                overflow: auto !important;
                .sub-menu {
                    display: none;
                    padding: 10px 14px 14px;
                    border-left: 2px solid var(--p1);
                    margin-top: 20px;
                    margin-bottom: 10px;
                    background: var(--bg2) !important;
                    li{
                        a{
                            font-size: 14px !important;
                            font-weight: 400 !important;
                            letter-spacing: 2px;
                            color: var(--n900);
                        }
                    }
                }
            }
            @include minQuery(992) {
                .menu-item {
                    padding: 34px 0;
                    button {
                        &:hover {
                            button {
                                &::after {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 20px;
                    left: -30px;
                    min-width: 240px;
                    opacity: 0;
                    width: max-content;
                    visibility: hidden;
                    transform: translateY(50px);
                    text-wrap: nowrap;
                    transition: var(--transition);
                    display: initial !important;
                    background: var(--n0);
                    z-index: 10;
                    pointer-events: none;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    .sub-menu{
                        border-left: 2px solid var(--p1);
                        left:  99%;
                        top: -55px;
                        z-index: 9;
                    }
                }
                .mega-menu-items{
                    position: initial !important;
                    .sub-mega-menu{
                        margin: 0 350px;
                        width: calc(100% - 700px);
                        left: 0;
                        li{
                            ul{
                                li{
                                    img{
                                        width: 36px;
                                        object-fit: contain;
                                    }
                                }
                                .menu-link{
                                    padding: 10px 16px !important;
                                    display: block;
                                    font-size: 14px;
                                    transition: all 0.4s;
                                    a{
                                        font-size: 16px;
                                    }
                                    &.active,
                                    &:hover{
                                        background: #F5F5F6;
                                        color: var(--n900) !important;
                                        a{
                                            color: var(--n900) !important;
                                        }
                                    }
                                }
                            }
                        }
                        @include maxQuery(1650){
                            margin: 0 50px;
                            width: calc(100% - 100px);
                        }
                    }
                }
                .menu-item {
                    position: relative;
                    &:hover {
                        >.sub-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(60px);
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
        .custom-nav::-webkit-scrollbar{
            width: 2px;
        }
        .navbar-toggle-btn {
            width: 36px;
            height: 24px;
            position: relative;
            right: 0;
            transition: var(--transition);
            top: 0;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: var(--n900);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: var(--transition);
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    top: 12px;
                }
                &:nth-child(4) {
                    top: 24px;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
    .header-btn{
        transition: all 0.5s;
        &:hover{
            background: transparent;
            border-color: var(--p300);
        }
    }
    @include maxQuery(991){
        padding: 24px 0;
        background: var(--n0);
    }
    &.header-sticky{
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.inner-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
}
.book-btn{
    &:hover{
        background: var(--p300) !important;
        color: var(--n0);
        transform: scale(1.02);
    }
}
// sticky header 
.header-fixed{
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background: var(--bg1);
    .change-color{
        color: var(--s2);
    }
}

//Header Top Section
.header-top-section{
    position: relative;
    z-index: 9;
    .nice-select{
        width: 50px;
        .list{
            width: 100% !important;
            background: var(--n0);
            padding: 7px 4px;
        }
        &::after{
            width: 8px;
            height: 8px;
            margin-top: 0;
            border-right: 2px solid var(--n0);
            border-bottom: 2px solid var(--n0);
        }
    }
    .social{
        a{
            i{
                transition: all 0.4s;
            }
            &:hover{
                i{
                    color: var(--s1);
                }
            }
        }
    }
}
//Header Top Section