<footer class="bg-green-50 pt-14 xl:pt-28 relative after:absolute after:h-full after:right-0 after:top-0 after:bg-neutral-900 after:xl:w-[55%]">
  <div class="cont grid grid-cols-12 relative z-[2]">
    <div class="col-span-12 lg:col-span-6 xl:col-span-5 pb-10 mb-10 border-b border-neutral-40 xl:pb-20 xl:mb-20">
      <h2 class="h1 reveal_anim">Subscribe To Our Newsletter</h2>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-7 flex justify-end items-center pb-10 mb-10 border-b border-neutral-40/15 xl:pb-20 xl:mb-20">
      <form class="fade_anim flex items-center rounded-full bg-neutral-500 xl:bg-neutral-0/5 sm:w-[477px]">
        <input type="email" placeholder="Email Address" class="py-2 pl-6 w-full text-neutral-10 bg-transparent" />
        <button class="py-4 px-8 rounded-full bg-yellow-200 font-semibold">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="cont grid grid-cols-12 gap-4 relative z-[2] pb-12 xl:pb-20">
    <div class="col-span-12 lg:col-span-6 xl:col-span-4 reveal_anim" data-reveal-from="right">
      <img src="./assets/images/logo.png" class="mb-4" alt="" />
      <p class="mb-6">Welcome to Agriculturio, where fresh, organic produce meets sustainability.</p>
      <div class="flex items-center gap-2">
        <a href="#" aria-label="social site link" class="social-icon two">
          <i class="hgi-stroke hgi-facebook-01"></i>
        </a>
        <a href="#" aria-label="social site link" class="social-icon two">
          <i class="hgi-stroke hgi-twitter-square"></i>
        </a>
        <a href="#" aria-label="social site link" class="social-icon two">
          <i class="hgi-stroke hgi-instagram"></i>
        </a>
        <a href="#" aria-label="social site link" class="social-icon two">
          <i class="hgi-stroke hgi-youtube"></i>
        </a>
      </div>
    </div>
    <div data-reveal-from="bottom" class="reveal_anim col-span-12 lg:col-span-6 xl:col-span-7 xl:col-start-8 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
      <div>
        <p class="mb-4 h4 xl:mb-6 xl:text-neutral-0">Services</p>
        <ul class="space-y-4">
          <li><a href="index.html" class="link">Agriculture</a></li>
          <li><a href="index-2.html" class="link">Agro Services</a></li>
          <li><a href="index-3.html" class="link">Dairy Farm</a></li>
          <li><a href="index-4.html" class="link">Organic Farm</a></li>
        </ul>
      </div>
      <div>
        <p class="mb-4 h4 xl:mb-6 xl:text-neutral-0">Quick Links</p>
        <ul class="space-y-4">
          <li><a href="index.html" class="link">Home</a></li>
          <li><a href="shop.html" class="link">Products</a></li>
          <li><a href="blogs.html" class="link">Blogs</a></li>
          <li><a href="portfolio-1.html" class="link">Gallery</a></li>
        </ul>
      </div>
      <div>
        <p class="mb-4 h4 xl:mb-6 xl:text-neutral-0">Other's</p>
        <ul class="space-y-4">
          <li><a href="about-us.html" class="link">About Us</a></li>
          <li><a href="farmers.html" class="link">Our Team</a></li>
          <li><a href="portfolio-1.html" class="link">Portfolio</a></li>
          <li><a href="pricing.html" class="link">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="bg-neutral-0 py-4 xl:py-6 text-center">
  <div class="cont">
    <p>Copyright © <span id="year"></span> <a href="index.html" class="text-green-500 font-semibold underline">Agriculturio</a> All Rights Reserved</p>
  </div>
</div>
