//Html Smooth Scroll
html {
	scroll-behavior: smooth;
}
//Body Default Style
body {
	font-family: var(--body-font);
	background: var(--s4);
	color: var(--n0);
	font-size: 18px;
	line-height: 150%;
	padding: 0;
	margin: 0;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}
//Global Section Overflow Hidden
section,
footer {
	overflow: hidden;
}
//Tag Default Style
a, 
p,
button,
span,
label,
li {
	margin: 0;
	font-weight: 400;
	i{
		font-weight: 400;
	}
}
//A Tag Default Style
a {
	text-decoration: none;
	outline: none;
	&:focus, &:hover {
		text-decoration: none;
		outline: none;
	}
	i{
		font-weight: 400;
	}
}
//All Heading Tag Default Style
h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a,
.display-one, .display-two, .display-three, .display-four, .display-five, .display-six, .heading{
	font-family: var(--body-font);
	padding: 0;
	margin: 0;
	color: var(--n900);
	line-height: 128%;
	display: block;
	transition: var(--transition);
	span{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
	i{
		font-weight: 400;
	}
}
//Images Defaul Max-width 100
img {
	max-width: 100%;
	height: auto;
}
//Order List & Unorder List Default Style
ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		font-size: inherit;
		font-weight: inherit;
	}
}
//Button Tag Defatult Style
button {
	border: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 150%;
	padding: 0;
	background-color: transparent;
}
//Default Input Style
input,
textarea {
	padding: 10px 20px;
	width: 100%;
	font-family: var(--body-font);
	outline-color: transparent;
	font-size: 14px;
	border-radius: 6px;
	background-color: transparent;
	&::placeholder {
		font-size: 16px;
	}
	&:focus{
		box-shadow: none;
		border: 1px solid transparent;
	}
}
::placeholder {
	font-size: 14px;
}

// input custom 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="checkbox"] {
	width: initial;
	height: initial;
}

// Custom Container
.container{
	@include minQuery(575){
		max-width: 1326px;
		margin: 0 auto;
	}
}

// Color With class
.alt-color{
	a, p, span, h1, h2, h3, h4, h5, h6, i, select, button{
		transition: all 0.4s;
	}
}

//Color Custom Css
p{
	color: var(--n200);
	line-height: 150%;
	font-size: 16px;
	transition: all 0.4s;
}
span{
	transition: all 0.4s;
}
.p1-clr{
	color: var(--p1);
}
.p1-bg{
	background: var(--p1);
}
.p50-clr{
	color: var(--p50);
}
.p75-clr{
	color: var(--p75);
}
.p100-clr{
	color: var(--p100);
}
.p200-clr{
	color: var(--p200);
}
.p300-clr{
	color: var(--p300);
}
.p400-clr{
	color: var(--p400);
}
.p500-clr{
	color: var(--p500);
}
.b75-clr{
	color: var(--b75);
}

.s1-clr{
	color: var(--s1) !important;
}
.s1-border{
	border: 1px solid var(--s1);
}
.s1-bg{
	background: var(--s1);
}
.s2-clr{
	color: var(--s2);
}
.s2hover{
	transition: all 0.4s;
	&:hover{
		color: var(--s2) !important;
	}
}
.s2-bg{
	background: var(--s2);
}
.s3-clr{
	color: var(--s3);
}
.s4-clr{
	color: var(--s4);
}
.s4-bg{
	background: var(--s4);
}
.s5-clr{
	color: var(--s5);
}
.s6-clr{
	color: var(--s6);
}
.s7-clr{
	color: var(--s7);
}
.s7-bg{
	background: var(--s7);
}

.ratting-clr{
	color: var(--ratting);
}

.n0-clr{
	color: var(--n0);
}
.n0-border{
	border: 1px solid var(--n0);
}
.n0-bb{
	border-bottom: 1px solid var(--n0);
}
.n0-bg{
	background: var(--n0);
}
.n00-clr{
	color: var(--n00);
}
.n10-clr{
	color: var(--n10);
}
.n20-clr{
	color: var(--n20);
}
.n30-clr{
	color: var(--n30);
}
.n30-bg{
	background: var(--n30);
	transition: all 0.4s;
	&:hover{
		background: var(--n20);
	}
}
.n40-clr{
	color: var(--n40);
}
.n40-bt{
	border-top: 1px solid var(--n40) !important;
}
.n40-bb{
	border-bottom: 1px solid var(--n40) !important;
}
.n50-clr{
	color: var(--n50);
}
.n60-clr{
	color: var(--n60);
}
.n70-clr{
	color: var(--n70);
}
.n80-clr{
	color: var(--n80);
}
.n90-clr{
	color: var(--n90);
}
.n100-clr{
	color: var(--n100);
}
.n200-clr{
	color: var(--n200);
}
.n300-clr{
	color: var(--n300);
}
.n400-clr{
	color: var(--n400);
}
.n500-clr{
	color: var(--n500);
}
.n600-clr{
	color: var(--n600);
}
.n700-clr{
	color: var(--n700);
}
.n800-clr{
	color: var(--n800);
}
.n900-clr{
	color: var(--n900);
}
.n900-border{
	border: 1px solid #00051329;
}
.pra-clr{
	color: var(--pra);
}
.bg1{
	background: var(--bg1);
}
.bg2{
	background: var(--bg2);
}

.fw-400{
	font-weight: 400 !important;
}
.fw-500{
	font-weight: 500 !important;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}
.fw-800{
	font-weight: 800;
}

// ul custom
.ul-dots{
	li{
		list-style: disc;
	}
}
.ul-decimal{
	li{
		list-style: decimal;
	}
}

span {
	display: inline-block;
}
.transition{
	transition: 0.5s;
}
//Table Style Css

.table thead th,
.table td,
.table th {
	border: none;
}

//Iframe Style 
iframe {
	border: 0;
	width: 100%;
}

// Custom Dropdown 
*::-webkit-scrollbar {
	width: 6px;
}
//scrolling chat
.cmn-rightclickbody-profile::-webkit-scrollbar{
	width: 2px;
}
.cmn-rightclickbody::-webkit-scrollbar{
	width: 2px;
}
.cmn-leftclickbody::-webkit-scrollbar{
	width: 2px;
}
.scrolling-chat::-webkit-scrollbar{
	width: 2px;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-thumb {
	background: var(--p1);
}
//Style D-center
.d-center{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

//Cmn btn
.cmn-btn{
	position: relative;
	z-index: 1;
	transition: all 0.4s;
	.icons{
		font-size: 19px;
		transition: all 0.4s;
	}
	&::after,
	&::before{
		position: absolute;
		content: "";
	}
	&::before{
		top: -40px;
		left: 50%;
		width: 60px;
		height: 140px;
		background: #101cfd73;
		z-index: -1;
		transition: all 0.8s;
		opacity: 0;
		transform: rotate(40deg);
	}
	&::after{
		top: -40px;
		right: 50%;
		width: 60px;
		height: 140px;
		background: #101cfd73;
		z-index: -1;
		transition: all 0.8s;
		opacity: 0;
		transform: rotate(40deg);
	}
	&:hover{
		color: var(--n0);
		.icons{
			transform: rotate(-90deg);
		}
		&::after{
			right: -45px;
			opacity: 1;
		}
		&::before{
			left: -40px;
			opacity: 1;
		}
	}
	&.cmn-btn-alt{
		&::after,
		&::before{
			background: #e7a200;
		}
	}
	&.cmn-btn900{
		&:hover{
			color: var(--n900);
		}
	}
}
.cmn-btn-white{
	&:hover{
		color: var(--n0);
		.arrow-rot{
			color: var(--n0);
		}
	}
}
.reading-btn{
	.text{
		font-size: 18px;
		font-weight: 600;
		color: var(--p1);
		text-decoration: underline;
		transition: all 0.4s;
	}
	.arr{
		transition: all 0.4s;
		i{
			font-size: 20px;
			line-height: 2.4;
		}
	}
	&:hover{
		.text{
			font-size: 17px;
		}
		.arr{
			transform: rotate(90deg);
		}
	}
}
//Cmn btn

//Cmn Listing
.cmn-listing{
	li{
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 14px;
		font-size: 16px;
		&::before{
			position: absolute;
			content: "";
			left: 0;
			width: 4px;
			height: 4px;
			background: var(--n900);
			border-radius: 50%;
		}
	}
}
//Cmn Listing

//Topspce
.fixed-topspace{
	padding-top: 95px;
	@include maxQuery(991){
		padding-top: 74px;
	}
}
//Topspce

//Cmn Slider Btn
.cmn-width-swiper{
	transition: all 0.4s;
	@include box(60);
	@include maxQuery(1399){
		@include box(40);
	}
	@include maxQuery(991){
		@include box(36);
	}
	&:hover	{
		background: var(--p1);
		i{
			color: var(--n0);
		}
	}
}
//Cmn Slider Btn

//Section Title
.section-title{
	@include maxQuery(1399){
		img{
			width: 30px;
		}
	}
}
//Section Title

//Cmn arrow btn
.cmn-arrows{
	@include box(52);
	.arrow1{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
		i{
			line-height: 2;
		}
	}
	.arrow2{
		position: absolute;
		top: 50%;
		left: -50%;
		transform: translateY(-50%);
		transition: all 0.5s;
		i{
			line-height: 2;
		}
	}
	&:hover{
		.arrow1{
			left: 150%;
			transform: translate(-50%, -50%);
		}
		.arrow2{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
//Cmn arrow btn

//--Zindex Controll
.cusz-1 {
	z-index: 1;
}
.cusz1 {
	z-index: 1;
}
.cusz2 {
	z-index: 2;
}

// Custom Tabs
.singleTab{
	.nav-links{
		cursor: pointer;
	}
	.tabContents {
		position: relative;
		.tabItem {
			transform: translateY(100px);
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: 0.8s all;
			&.active {
				position: initial;
				z-index: 1;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	&.pros-cros{
		.nav-item{
			border-radius: unset;
			background: rgba(12, 169, 64, 0.70);
			font-weight: 700;
			color: rgba(var(--p2));
			.active{
				background: rgba(var(--p1));
			}
			button{
				transition: var(--transition);
			}
		}
	}
}


// Nice Select
.nice-select {
	background-color: transparent;
	border: transparent;
	float: initial;
	overflow: initial;
	height: initial;
	padding: 0;
	display: inline-flex;
	align-items: center;
	line-height: 150%;
	width: 100%;
	&:focus, &:hover {
		border-color: transparent;
	}
	&::after {
		height: 10px;
		width: 10px;
		right: 15px;
		top: initial;
		border-color: var(--n900);
	}

	.list {
		width: initial;
		background-color: var(--s7);
		box-shadow: none;
		overflow: initial;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
		width: 100%;
		top: 100%;
		padding: 0;
		max-height: 50vh;
		overflow-x: auto;
		padding: 8px 16px;
		&::-webkit-scrollbar{
			width: 2px;
			opacity: 1;
			display: block;
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb{
			background: var(--s2);
		}
		li{
			color: var(--n900) !important;
		}
	}
	.option {
		background-color: transparent;
		font-size: 16px;
		line-height: 150%;
		padding: 4px 5px;
		min-height: initial;
		font-weight: 500;
		&:hover,
		&:focus,
		&.selected.focus {
			background-color: transparent;
		}
	}
	.current{
		font-weight: 500;
	}
}

// checkbox-single
.checkbox-single {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		left: 0;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 1px solid var(--n40);
		&::after {
			content: "";
		}
	}
	input:checked ~ .checkmark {
		&::after {
			content: "done";
			position: absolute;
            font-family: 'Material Symbols Outlined';
			color: var(--n500);
		}
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}

// Single Radio
.single-radio {
	cursor: pointer;
	user-select: none;
	position: relative;
	&:hover input ~ .checkmark {
		background-color: transparent;
	}
	.checkmark {
		position: absolute;
		left: 0;
		height: 16px;
		width: 16px;
		border: 1px solid var(--p1);
		border-radius: 50%;
		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: transparent;
		}
	}
	input:checked ~ .checkmark {
		background-color: transparent;
		border: 1px solid ;
		&::after {
			display: block;
			background: var(--p1);
		}
	}
}

// swiper slider btn
.slide-button {
	outline: none;
	bottom: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 5px;
	z-index: 5;
	&.ara-prev {
		transform: rotate(180deg);
	}
}

//border radius
.radius-circle{
	border-radius: 50%;
}
.radius100{
	border-radius: 100px;
}

//Cmn Social
.cmn-social{
	li{
		.icons{
			@include box(36);
			i{
				transition: all 0.5s;
			}
			&:hover{
				i{
					color: var(--s3);
				}
			}
		}
	}
	&.alt{
		li{
			.icons{
				@include box(40);
			}
		}
	}
}

// Input Area
.input-area {
    background-color: transparent;
    border: 1px solid var(--n40);
    &:focus-within {
        border: 1px solid solid;
        outline: 1px solid var(--s2);
        border-color: transparent;
    }
    input,
    textarea {
        border-radius: 0;
        padding: 0;
        border: none;
		outline: none;
        background: transparent;
		font-size: 16px;
        &::placeholder {
            color: var(--n300);
            font-weight: 500;
        }
    }
    .nice-select {
		padding-right: 40px !important;
        &::placeholder {
            color: rgba(var(--n3), 1);
        }
        &:focus,
        &:hover {
            border: none;
            outline: none;
            color: rgba(var(--n3), 1);
        }
        .current {
            color: rgba(var(--n3), 1);
            font-size: 16px;
            border: none;
            outline: none;
        }
        .list {
            border: 1px solid rgba(var(--n6), 0.2);
            bottom: initial;
            padding: 8px 16px;
            background: rgb(var(--bg1));
            color: rgba(var(--n3), 1);
        }
        &::after {
            display: block;
            right: 24px;
        }
    }
    &.second {
        border-radius: 48px;
        border: 1px solid rgba(var(--n5), 1);
        input {
            font-size: 16px;
        }
    }
}

//Text Circle
.texta {
	position: relative;
	width: 160px;
	height: 160px;
	color: var(--n900);
	font-size: 14px;
	animation: textRotation 18s linear infinite;
}
  @keyframes textRotation {
	to {
	  transform: rotate(360deg);
	}
  }
  .texta span {
	position: absolute;
	left: 50%;
	font-size: 14px;
	transform-origin: 0 90px;
	color: var(--n900);
	font-weight: 600 !important;
	text-transform: uppercase;
  }
  
//Text Circle

// Animation Start 
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn1st {
    0% {
        opacity: 0;
        transform: translate3d(10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn2nd {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotates {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes zin {
	50%{
		transform: scale(1.1);
	}
}
@keyframes updown {
	50%{
		transform: translateY(-10px);
	}
}


// pre-built-sites
.pre-built-sites{
    z-index: 9999;
    .sites-show-button{
        background-color: #292C36;
        img{
            background: #48A133 !important;
        }
    }
    .buynow-button{
        background: #C72424 !important;
    }
    .button-area{
        top: calc(50% - 100px);
        button{
            writing-mode: vertical-rl;
        }
    }
    .close-button-area{
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        &.active{
            pointer-events: visible;
            opacity: 1;
        }
        button{
            @include box(40);
            background-color: #c72424;
        }
    }
    .demo-frame{
        transform: translate(70%, -5%) perspective(50px) rotateY(-25deg);
        transition: all ease-in-out 2s;
        position: fixed;
        &.active{
            transform: translate(0%, 0%);
            width: 100%;
            height: 100%;
        }
    }
}




//Swiper Transition
.swiper-wrapper {
    transition-timing-function: linear !important;
}
.w-fit {
	width: -moz-fit-content !important;
	width: fit-content !important;
}